body {
  font-family: Arial, sans-serif;
  background: #ececf1;
  margin: 0;
  padding: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.phone {
  width: 320px;
  background: #d7d9e1;
  border-radius: 25px;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.checkmark {
  font-size: 20px;
}

.search-box input {
  width: 93%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.card {
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 12px;
  height: 80px;
}

.create-btn {
  width: 100%;
  background: #3ba55d;
  color: white;
  padding: 14px;
  border-radius: 8px;
  margin-top: 30px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.form input,
.form select {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
}

.save-btn {
  width: 100%;
  background: #3ba55d;
  color: white;
  padding: 14px;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
